
<div style="display:flex; flex-direction:column; width: 150px; background-color: #ced4da">
    <div style="display: flex; justify-content: space-around; width: 100%; height:20px;">
        @WeekDay.GetEnumDisplayName() <b>@currentDate.ToString("yyyy-MM-dd")</b>
    </div>
    <div style="display: flex; justify-content: space-around; width: 100%; height:10px;">
        <div style="width: 10px; font-size:9px">4</div>
        <div style="width: 10px; font-size:9px">8</div>
        <div style="width: 10px; font-size:9px">12</div>
        <div style="width: 10px; font-size:9px">16</div>
        <div style="width: 10px; font-size:9px">20</div>
    </div>
        <div style="display: flex; background-color: #8a969c; width: 100%; height:3px;">
    </div>
</div>

@code {

    [Parameter]
    public DayEnum WeekDay { get; set; }

    [Parameter]
    public DateTime WeekBeginDay { get; set; }

    private DateTime currentDate { get; set; }

    protected override void OnParametersSet()
    {
        currentDate = WeekBeginDay.AddDays((int)WeekDay);
    }
}
