@attribute [RouteAttribute(RoutePages.HOME)]

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                
            </div>
            <h4 class="page-title">Index</h4>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>

@code{

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    [Inject]
    public ILogger<Index> Logger { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}