

<div style="display: flex; position: relative; width: 100%; height:25px; ">
    <div style="display: flex; position: absolute; flex-direction:row; flex-flow: row nowrap; width: 100%; height:25px;  z-index: 1">
        @foreach (var item in plan)
        {
            <div style="width: 100%; background-color: @(item ? @ColorConfig.Background1C : @ColorConfig.BackgroundDefault);"></div>
        }
    </div>
    <div style="display: flex; position: absolute; flex-direction:row; flex-flow: row nowrap; justify-content: center; align-items: center;height:25px; width: 100%; z-index: 2">
        <a>@interval</a>
    </div>

</div>

@code {

    [Parameter]
    public List<Schedule1CPlanModel> Schedule1CPlans { get; set; }

    [Parameter]
    public DateTime CurrentDate { get; set; }

    bool[] plan { get; set; } = new bool[24];

    protected override void OnParametersSet()
    {
        SetHourValue();
    }

    private string interval { get; set; }

    private void SetHourValue()
    {
        plan = new bool[24];
        interval = string.Empty;
        foreach (var planInterval in Schedule1CPlans)
        {
            if (CurrentDate.AddDays(1) >= planInterval.Begin && CurrentDate <= planInterval.End)
            {
                interval = $"{planInterval.Begin.ToString("HH:mm")} - {planInterval.End?.ToString("HH:mm")}";
                var date = CurrentDate;
                for (int i = 0; i < 24; i++)
                {
                    if (CheckInterval(date, planInterval.Begin, planInterval.End))
                    {
                        plan[i] = true;
                    }
                    else
                    {
                        plan[i] = false;
                    }
                    date = date.AddHours(1);
                }
            }
        }
    }

    private bool CheckInterval(DateTime currentTime, DateTime beginInterval, DateTime? endInterval)
    {
        if (endInterval == null)
        {
            return false;
        }

        if (beginInterval <= currentTime && currentTime <= endInterval)
        {
            return true;
        }

        return false;
    }
}
