<div style="display:flex; flex-direction:column; width: 150px; height: 60px; background-color: #ced4da">
    <div style="display: flex; flex-direction:row; width: 100%; height:50px;">

    </div>
    <div style="display: flex; background-color: #8a969c; width: 100%; height:50px;">
        
    </div>
    <div style="display: flex; width: 100%; height:50px;">
    </div>
</div>

@code {

}
